/* body {

} */
h1{
    color: brown;
    text-align: center;
}
img{
    width: 50%;
    margin-bottom: 70px;
    margin-top: 70px;
    transform: scale(1);
    transition: .3s ease-in-out;
}
img:hover{
    transform: scale(1.3);
}
.forms{
    text-align: center;
}
a{
    color: chartreuse;
}
