body {
   background-image: url(https://i2.wp.com/photos.smugmug.com/Africa/Morocco/Sahara/i-hx8BBH7/0/a2421653/L/2019-03-22%20at%2018-18-17-L.jpg);
   background-size: cover;

}

div>h1{
    color: navy;
    text-align: center;
    font-family: Abril Fatface, cursive;
}

div>#new{
    text-align: center;
}
h2{
    font-family: Abril Fatface, cursive;
    border-top: 25px;
    color: navy;
}
img{
    width: 50%;
    margin-bottom: 70px;
    margin-top: 70px;
}

div>h1{
    text-align: center;
}
div>.bg{
    background-color: green;
}
.forms{
    text-align: center;
}
#anchor{
    background-color: slategrey;
    height: 35px;
}
#anchor>a{
    text-align: center;
    text-align: center;
    color: whitesmoke;
    position: relative;
    font-size: 15px;
    padding: 10px 10px;
    margin-left: 65px;
    margin-right: 60px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#anchor>a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    
}
div>p{
    text-align: center;

    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Courgette', cursive;
}

footer{
    background-color: slategrey;
    color: white;
    height: 120px;
}
